[Desktop Entry]
Name=Nixie
Comment=Get the Time
Type=Application
Exec=nixie
Terminal=false
Categories=GNOME;GTK;
# Translators: Search terms to find this application. Do NOT translate or localize the semicolons! The list MUST also end with a semicolon!
Keywords=Gnome;GTK;
# Translators: Do NOT translate or transliterate this text (this is an icon file name)!
Icon=co.tauos.Nixie
StartupNotify=true
