/* Etc */

.search {
	border-radius: 999px;
}

.automatic {
	background: mix(@accent_bg_color, @view_bg_color, 0.90);
	color: @view_fg_color;
}

.normal-icon {
	-gtk-icon-size: 23px;
}

.big-display {
	font-size: 57px;
	font-weight: 400;
	line-height: 64px;
}